/node_modules
/WhiteHorse.sublime-workspace
/WhiteHorse.sublime-project
/build
/*.sublime-project
/*.sublime-workspace
/nbproject
/assets/css/screen.css
/npm-debug.log
/.sass-cache
/assets/img/icons-*
/assets/css/*.css
/.idea
